.arrow {
    position: static;
    width: 24px;
    height: 24px;
    left: 38px;
    top: 12px;

    transform: rotate(90deg);
}

.arrow path {
    fill: #fff;
}

// .send-message {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     padding: 12px 10px 12px 14px;

//     width: 48px;
//     height: 48px;

//     background: #da1a5b;
//     border-radius: 4px;
// }