<div class="sm:container flex flex-row justify-center mx-1 sm:mx-auto my-4 sm:my-12">
    <div class="my-12">
        <h1 class="text-3xl text-center">Appwrite Chat</h1>
        <div
            class="mt-2 mb-2 sm:mt-12 sm:mb-4 outline-gray-500 p-4 sm:p-12 pt-2 px-4 sm:px-12 rounded outline outline-1">
            <span class="text-2xl text-center mb-2">Login</span>
            <form [formGroup]="form" (ngSubmit)="login()">
                <div class="flex flex-col my-4">
                    <label class="text-xl my-2" for="email">Email</label>
                    <input
                        class="w-full sm:w-[350px] h-12 rounded text-xl px-2 border-b-2 border-b-black focus:border-b-transparent bg-white"
                        type="text" id="email" formControlName="email" placeholder="johndoe@gmail.com" />
                </div>
                <div class="flex flex-col my-4">
                    <label class="text-xl my-2" for="password">Password</label>
                    <input
                        class="w-full sm:w-[350px] h-12 rounded text-xl px-2 border-b-2 border-b-black focus:border-b-transparent bg-white"
                        type="password" id="password" formControlName="password" />
                </div>

                <div class="flex flex-row justify-end">
                    <a [routerLink]="['/register']" aria-label="Register"
                        class="mx-6 mt-8 mb-4 w-[125px] px-4 py-2 outline outline-1 rounded hover:outline-2 text-center">Register</a>
                    <button type="submit" aria-label="Login"
                        class="mx-0 mt-8 mb-4 w-[125px] px-4 py-2 outline outline-1 rounded hover:outline-2 text-center">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>